* {
  font-family:'Courier New', Courier, monospace
}

.nav-link {
  color: lightseagreen;
}

.active-background {
  background: lightblue;
}

.active-tab-style{
  background-color:lightblue !important;
}

.nav-link:hover {
  color: seagreen;
}

.movies {
    width:  100%;
    height: 40vh;
    object-fit: cover;
  }

.banner {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.wierd-background {
  background-color: rgb(18, 17, 17);
}
